@charset "UTF-8";

/* reset
------------------- */
html,body,h1,h2,h3,h4,p,ul,li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: bottom;
}
/* PCファースト
---------------------------- */
header {
  text-align: center;
  margin-bottom: 50px;
}
h1 {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background: url(../img/logo.svg)no-repeat center center/contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
header>p {
  margin-bottom: 20px;
  font-size: 28px;
  font-family: 'Kosugi Maru', sans-serif;
}
.g-nav {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom,#009250,#3DB680);
}
.g-nav>ul {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
.g-nav li {
  width: 25%;
}
.g-nav a {
  display: block;
  line-height: 50px;
  color: #ffffff;
  border-right: 1px solid #fff;
}
.g-nav a:hover {
  background: linear-gradient(to top,#009250,#3DB680);
}
.g-nav li:first-of-type>a {
  border-left: 1px solid #fff;
}
.container {
  max-width: 960px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
}
.container img {
  max-width: 100%;
  margin-bottom: 10px;
}
.main {
  width: 65%;
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 10px;
  font-size: 26px;
}
.main-txt {
  margin-bottom: 30px;
}
h3 {
  margin-bottom: 30px;
  font-size: 24px;
}
h4 {
  margin-bottom: 10px;
  font-size: 22px;
  border-left: 12px solid #009250;
  padding-left: 6px;
}
.food {
  margin-bottom: 40px;
}
.aside {
  width: 30%;
}
footer {
  height: 100px;
  background: #573920;
  color: #fff;
  text-align: center;
}
footer>p {
  padding-top: 30px;
}

@media (max-width: 959px){
  .container {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .aside {
    width: 33%;
  }
}
@media (max-width: 640px){
  h1 {
    width: 70px;
    height: 70px;
  }
  header>p {
    font-size: 22px;
  }
  .container {
    display: block;
  }
  .main  {
    width: 100%;
    margin-bottom: 60px;
  }
  .aside {
    width: 100%;
  }

  .food {
    margin-bottom: 60px;
  }
}